:root {
  --main-color: #0b60fe;
  --black: #1f2937;
  --gray: #f3f4f6;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  color: #fff;
  line-height: 4.375rem;
  font-weight: 700;
  font-size: 3.875rem;
}
h2 {
  color: #fff;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.5rem;
}
h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
p {
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* HEADER */

header {
  position: fixed;
  background-color: #fff;
  padding: 14px 72px;
  display: flex;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
  z-index: 1000; /* Assure que le menu reste au-dessus du contenu */
}
#header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  max-width: 1296px;
}
#menu {
  display: flex;
  align-items: center;
}
#menu h3 {
  color: var(--black);
}

#menu > a:hover,
#menu > a:focus {
  text-decoration: none;
}

nav {
  padding-inline: 72px;
  display: flex;
  align-items: center;
  gap: 24px;
}
nav a {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.cta-little {
  background-color: var(--main-color);
  padding: 14px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
}
.cta-little:hover,
.cta-little:focus {
  background-color: #0141b7;
  text-decoration: none;
}
.cta-little img {
  width: 24px;
  height: 24px;
}

/* HERO SECTION */

#hero-section {
  background-image: url(../images/shutter-worker.jpg);
  padding: 140px 72px;
  padding-top: 220px;
  background-position: center;
  background-size: cover;
}
#hero-section p {
  margin-top: 14px;
  margin-bottom: 55px;
  color: var(--gray);
}
#hero-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 1296px;
}
.bottom-hero {
  display: flex;
  align-items: center;
  gap: 28px;
}
.cta-button {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 24px;
  border-radius: 8px;
  min-width: 208px;
}
.cta-button:hover,
.cta-button:focus {
  text-decoration: none;
  background-color: #0141b7;
}
.cta-span {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cta-span :nth-child(1) {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #fff;
}
.cta-span :nth-child(2) {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #fff;
}
.dispo-container {
  display: flex;
  gap: 10px;
  color: var(--gray);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

/* ABOUT SECTION */
#about-section {
  background-color: var(--main-color);
  padding: 140px 72px;
  padding-bottom: 95px;
  display: flex;
}
#about-container {
  display: flex;
  margin-inline: auto;
  max-width: 1296px;
  gap: 115px;
  align-items: center;
}

#about-image {
  flex: 1;
  height: 100%;
}
#about-image img {
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}
.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* SERVICES SECTION */

#services {
  height: 45px;
  width: 100%;
  background-color: var(--main-color);
}
#service-section {
  background-color: #fff;
  padding: 70px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service-section h2,
#service-section h3,
#service-section p {
  color: var(--black);
}
#service-section h2 {
  margin-bottom: 64px;
}
#service-big {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 1296px;
}
.row-service {
  display: flex;
  gap: 32px;
}
.row-service:first-of-type {
  margin-bottom: 44px;
}
.service-container {
  flex: 1;
}
.service-container img {
  margin-bottom: 24px;
}
.service-container h3 {
  margin-bottom: 4px;
}

/* WHY SECTION */
#why-section {
  padding: 70px 72px;
  background-color: var(--gray);
}
#why-container {
  max-width: 1296px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  text-align: center;
}
#why-container h2 {
  color: var(--black);
  margin-bottom: 64px;
}

.why-row {
  display: flex;
  gap: 32px;
}
.why-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.why-card h3 {
  color: var(--black);
}

/* CAROUSEL SECTION */
#carousel-section {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 72px;
  padding-block: 70px 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carousel-section h2,
#carousel-section p {
  color: var(--black);
  text-align: center;
}

#carousel-section p {
  margin-top: 18px;
  margin-bottom: 64px;
}
#carousel-container {
  width: 100%;
}

.swiper-wrapper {
  height: 80vh;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(243, 244, 246, 0.6);
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
.swiper-button-next {
  margin-right: 15px;
}
.swiper-button-prev {
  margin-left: 15px;
}

/* ADVICE SECTION */
#advice-section {
  padding: 83px 72px;
  background-image: url(../images/shutter-close.jpg);
  background-size: cover;
  background-position: center;
}
#advice-container {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
}
.advice-title {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

/* FOOTER */
footer {
  background-color: var(--main-color);
  padding: 72px 72px 44px 72px;
}
#footer-container {
  margin-inline: auto;
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
}
.footer-left h4 {
  color: #fff;
  line-height: 2.75rem;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 4px;
}

.footer-left p {
  color: #fff;
  line-height: 1.75rem;
  font-weight: 500;
  font-size: 1.125rem;
}
.footer-left p:nth-of-type(1) {
  margin-bottom: 78px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-right h3 {
  color: #fff;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.footer-right a {
  color: #fff;
}
.contact-info {
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 1.75rem;
  font-weight: 500;
  font-size: 1.125rem;
  gap: 12px;
  align-self: flex-start;
}
.contact-info img {
  width: 24px;
  height: 24px;
}

/* BREAKPOINTS */
@media screen and (max-width: 53rem) {
  html {
    font-size: 0.9rem;
  }
  header {
    padding: 14px 42px;
  }
  nav {
    padding-inline: 42px;
  }
  #hero-section {
    padding: 110px 42px;
    padding-top: 190px;
  }
  #about-section {
    padding: 110px 42px;
    padding-bottom: 65px;
  }
  #service-section {
    padding: 40px 42px;
  }
  #why-section {
    padding: 40px 42px;
  }
  #carousel-section {
    padding-inline: 42px;
    padding-block: 40px 88px;
  }
  #advice-section {
    padding: 53px 42px;
  }
  footer {
    padding: 72px 42px 44px 42px;
  }
  #carousel-section p {
    margin-top: 18px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 41rem) {
  html {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 35rem) {
  html {
    font-size: 1rem;
  }
  h1 {
    line-height: 2.25rem;
    font-weight: 700;
    font-size: 2rem;
  }
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .dispo-container {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .cta-little {
    background-color: var(--main-color);
    padding: 8px 16px;
    gap: 8px;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .cta-button {
    padding: 8px 16px;
    gap: 8px;
    min-width: 148px;
  }
  .cta-button img {
    width: 24px;
    height: 24px;
  }
  .cta-span {
    gap: 0px;
  }
  .cta-span :nth-child(1) {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  .cta-span :nth-child(2) {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 500;
  }
  header {
    padding: 14px 16px;
  }
  nav {
    display: none;
  }
  #hero-section {
    padding: 90px 16px;
    padding-top: 170px;
  }
  #hero-section p {
    margin-bottom: 32px;
  }
  .bottom-hero {
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
  }
  #about-section {
    padding: 45px 16px;
    padding-bottom: 0px;
  }
  #about-container {
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    gap: 20px;
  }
  #service-section {
    padding: 32px 16px;
    text-align: center;
  }
  #service-section h2 {
    margin-bottom: 32px;
  }
  .row-service {
    flex-direction: column;
    gap: 24px;
  }
  .row-service:first-of-type {
    margin-bottom: 24px;
  }
  #why-section {
    padding: 32px 16px;
  }
  #why-container h2 {
    margin-bottom: 32px;
  }
  #why-container h3 {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .why-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-card {
    max-width: 300px;
  }
  #carousel-section {
    padding: 32px 16px;
  }
  .swiper-wrapper {
    height: 350px;
  }
  #advice-section {
    padding: 32px 16px;
  }
  #advice-container {
    flex-direction: column;
    text-align: center;
  }
  .advice-title {
    margin-bottom: 32px;
  }
  footer {
    padding: 32px 16px;
  }
  #footer-container {
    flex-direction: column;
    gap: 68px;
  }
  .footer-left p:nth-of-type(1) {
    margin-bottom: 32px;
  }
  .footer-left p:nth-of-type(2) {
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
  }
}
